.dashboard {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  
    padding: 1em;
    gap: 1em;
    height: 100vh;
    margin-left: 60px;
}