.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--secondary-two);
  border-radius: 4px;
  background-color: var(--primary-two);
  color: var(--tertiary);
}

.button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--secondary-one);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}